body
{
    background-color:lavender;
}
h1
{
    color:purple;
}
a
{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    font-size: 16pt;
}
a:hover
 {
    color:blueviolet;
    font-size: 30pt;
 }   

 .header
 {
    width:100%;
    background-color:rgb(197, 144, 195);
    padding-bottom:30px;
 }

 .slider
 {
    width:100%;
    background-color:rgb(94, 16, 91);
  }

  .box1
  {
    width:25%;
    background-color: cornflowerblue;
    padding-bottom:200px;
    float:right;
  }
  .box2
  {
    width:25%;
    background-color:rgb(76, 113, 182);
    padding-bottom:200px;
    float:right;
  }
  .box3
  {
    width:25%;
    background-color: cornflowerblue;
    padding-bottom:200px;
    float:right;
  }
  .box4
  {
    width:25%;
    background-color: rgb(76, 113, 182);
    padding-bottom:200px;
    float:right;
  }

  .content
  {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  table, td ,tr ,th
  {
    border: 1px solid black;
    border-collapse: collapse;
  }

  td
  {
    padding: 100px;
  }
  tr
  {
    background-color: moccasin;
  }
  tr:nth-child(odd)
  {
    background-color: thistle;
  }
  th
  {
    background-color: lightgoldenrodyellow;
    color: black;
  }
  tr:hover
  {
    background-color: honeydew;
  }