h1{
    color:sienna;
}
a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    font-size: 16pt;
}
a:hover
 {
    color:blueviolet;
    font-size: 30pt;
 }   

